{% extends 'ml_question/base.html' %}

{% block content %}
    <p>Chapters</p>
        <!--unordered list-->
        <ul>
            {% for chapter in chapters %}
                <!--list item-->
                <li>
                    <a href="{% url 'ml_question:chapter' chapter.id %}">{{chapter.number}}.{{chapter.title}}</a>
                </li>
            {% empty %}
                <li>No chapters have been added yet</li>
            {% endfor %}
        </ul>

        <a href="{% url 'ml_question:new_chapter' %}">Add a new chapter</a>
{% endblock content %}